# Node

logs _.log npm-debug.log_ yarn-debug.log _yarn-error.log_ lerna-debug.log _.pnpm-debug.log_
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json
pids _.pid_ .seed *.pid.lock
node_modules/ 
.npm
.env .env.development.local .env.test.local .env.production.local .env.local
package-lock.json

